# Joystick Gremlin
THROTTLE_NAME = "Throttle - HOTAS Warthog"
THROTTLE_GUID = "{xxxxx}"

# Mode list, Insert all Modes from Joystick Gremlin
MODE_LIST = ["Default", "Mining", "Interact-Mode", "Shifter", "fw-strafe-flight", "high-strafe-flight", "rev-fw-high", "rev-throttle", "scan-mode", "starmap"]


# Home Assistent
HA_SENSOR_URL = "https://xxx.duckdns.org:xxx/api/states/sensor.xxxx"
TOKEN = "xxx.xxx.xxx"
ENTITIES = ["sensor.xxxx"]
HA_URL = "https://xxxx.duckdns.org:xxxx"