<?xml version="1.0" ?>
<profile version="14">
    <settings>
        <startup-mode>Default</startup-mode>
        <macro-default-delay>0.05</macro-default-delay>
    </settings>
    <inputs>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>axis</input-type>
            <mode>Default</mode>
            <input-id>1</input-id>
            <action-configuration>
                <root-action>80117ee9-6113-4d79-95a9-3e9ff5112d89</root-action>
                <behavior>axis</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>axis</input-type>
            <mode>Default</mode>
            <input-id>2</input-id>
            <action-configuration>
                <root-action>48fdc668-ed52-4a2b-871f-8891eec77705</root-action>
                <behavior>axis</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>axis</input-type>
            <mode>Default</mode>
            <input-id>3</input-id>
            <action-configuration>
                <root-action>f937e754-2dea-4e84-9be0-0b1a8d382712</root-action>
                <behavior>axis</behavior>
            </action-configuration>
            <action-configuration>
                <root-action>46e22a0f-3ecc-46db-9ec1-613e16db3f27</root-action>
                <behavior>axis</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>button</input-type>
            <mode>Default</mode>
            <input-id>1</input-id>
            <action-configuration>
                <root-action>08250969-640c-4916-a6fb-ffe9aca2a993</root-action>
                <behavior>button</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>button</input-type>
            <mode>Default</mode>
            <input-id>2</input-id>
            <action-configuration>
                <root-action>c37d0823-1e4c-4082-94f0-0ba0f9b0d274</root-action>
                <behavior>button</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>button</input-type>
            <mode>Default</mode>
            <input-id>3</input-id>
            <action-configuration>
                <root-action>8a7f0307-3577-4861-a769-8d31063270fa</root-action>
                <behavior>button</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>button</input-type>
            <mode>Default</mode>
            <input-id>4</input-id>
            <action-configuration>
                <root-action>2b0d6c19-f271-4648-b8b2-ed91308322f4</root-action>
                <behavior>button</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>hat</input-type>
            <mode>Default</mode>
            <input-id>1</input-id>
            <action-configuration>
                <root-action>a1dfa431-2137-4682-a54c-37d756cd9450</root-action>
                <behavior>hat</behavior>
            </action-configuration>
            <action-configuration>
                <root-action>3b886ced-53c0-4f4d-a392-f40ae11809b3</root-action>
                <behavior>hat</behavior>
            </action-configuration>
        </input>
        <input>
            <device-id>97b77b40-07d8-11f0-8028-444553540000</device-id>
            <input-type>button</input-type>
            <mode>Default</mode>
            <input-id>5</input-id>
            <action-configuration>
                <root-action>9df8c300-ec0e-47cb-996e-5a929cb20d16</root-action>
                <behavior>button</behavior>
            </action-configuration>
            <action-configuration>
                <root-action>a7db4559-7952-4383-8c79-73b7aedb12fe</root-action>
                <behavior>button</behavior>
            </action-configuration>
        </input>
    </inputs>
    <logical-device/>
    <library>
        <action id="80117ee9-6113-4d79-95a9-3e9ff5112d89" type="root">
            <actions>
                <action-id>bdeb1f23-a8e5-4adf-aacc-8fb0372d748b</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="bdeb1f23-a8e5-4adf-aacc-8fb0372d748b" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>1</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="48fdc668-ed52-4a2b-871f-8891eec77705" type="root">
            <actions>
                <action-id>a5a0d95b-6e48-4d12-83ea-a67bb72b67cd</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="a5a0d95b-6e48-4d12-83ea-a67bb72b67cd" type="condition">
            <property type="string">
                <name>logical-operator</name>
                <value>all</value>
            </property>
            <condition>
                <property type="string">
                    <name>condition-type</name>
                    <value>joystick</value>
                </property>
                <input>
                    <property type="uuid">
                        <name>device-guid</name>
                        <value>97b77b40-07d8-11f0-8028-444553540000</value>
                    </property>
                    <property type="input_type">
                        <name>input-type</name>
                        <value>button</value>
                    </property>
                    <property type="int">
                        <name>input-id</name>
                        <value>1</value>
                    </property>
                </input>
                <comparator>
                    <property type="string">
                        <name>comparator-type</name>
                        <value>pressed</value>
                    </property>
                    <property type="bool">
                        <name>is-pressed</name>
                        <value>True</value>
                    </property>
                </comparator>
            </condition>
            <true-actions>
                <action-id>6f0eca22-7a39-4eff-a349-8202c1c6182c</action-id>
            </true-actions>
            <false-actions>
                <action-id>e522fe6a-09e7-4b90-b823-42da47753502</action-id>
            </false-actions>
            <property type="string">
                <name>action-label</name>
                <value>Condition</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="6f0eca22-7a39-4eff-a349-8202c1c6182c" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>2</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="e522fe6a-09e7-4b90-b823-42da47753502" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>3</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="189df80b-68da-4d73-a84a-fa0bd9f7cca0" type="root">
            <actions/>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="f937e754-2dea-4e84-9be0-0b1a8d382712" type="root">
            <actions>
                <action-id>e56385b1-6d88-4eda-838f-28dfcce6048f</action-id>
                <action-id>662f4027-c6e2-4ed9-8d1d-b1badd48339d</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="e56385b1-6d88-4eda-838f-28dfcce6048f" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>2</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>4</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="662f4027-c6e2-4ed9-8d1d-b1badd48339d" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>2</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>5</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="08250969-640c-4916-a6fb-ffe9aca2a993" type="root">
            <actions>
                <action-id>28898efc-10d9-4bf1-8e17-8c864a297fae</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="28898efc-10d9-4bf1-8e17-8c864a297fae" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>1</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="c37d0823-1e4c-4082-94f0-0ba0f9b0d274" type="root">
            <actions>
                <action-id>7b7758dd-dcf0-4428-bc37-bac63f7b3562</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="7b7758dd-dcf0-4428-bc37-bac63f7b3562" type="condition">
            <property type="string">
                <name>logical-operator</name>
                <value>all</value>
            </property>
            <condition>
                <property type="string">
                    <name>condition-type</name>
                    <value>joystick</value>
                </property>
                <input>
                    <property type="uuid">
                        <name>device-guid</name>
                        <value>97b77b40-07d8-11f0-8028-444553540000</value>
                    </property>
                    <property type="input_type">
                        <name>input-type</name>
                        <value>button</value>
                    </property>
                    <property type="int">
                        <name>input-id</name>
                        <value>12</value>
                    </property>
                </input>
                <comparator>
                    <property type="string">
                        <name>comparator-type</name>
                        <value>pressed</value>
                    </property>
                    <property type="bool">
                        <name>is-pressed</name>
                        <value>True</value>
                    </property>
                </comparator>
            </condition>
            <true-actions>
                <action-id>5ad1ea65-7a2e-41ed-991d-b02c31090cfb</action-id>
            </true-actions>
            <false-actions>
                <action-id>f018ad11-9d0b-4bdf-80d1-c1de6e88b7c8</action-id>
            </false-actions>
            <property type="string">
                <name>action-label</name>
                <value>Condition</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="5ad1ea65-7a2e-41ed-991d-b02c31090cfb" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>11</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="f018ad11-9d0b-4bdf-80d1-c1de6e88b7c8" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>11</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="8a7f0307-3577-4861-a769-8d31063270fa" type="root">
            <actions>
                <action-id>833d3b7c-c141-484c-b49e-83b888ae6836</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="833d3b7c-c141-484c-b49e-83b888ae6836" type="chain">
            <chain-0>
                <action-id>02589aab-f46f-446e-abdd-d71bbe903439</action-id>
            </chain-0>
            <property type="float">
                <name>timeout</name>
                <value>0.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Chain</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="02589aab-f46f-446e-abdd-d71bbe903439" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>15</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="2b0d6c19-f271-4648-b8b2-ed91308322f4" type="root">
            <actions>
                <action-id>461a20a6-dcbb-4edd-aeb5-928c308e525f</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="461a20a6-dcbb-4edd-aeb5-928c308e525f" type="macro">
            <property type="bool">
                <name>is-exclusive</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>repeat-mode</name>
                <value>Single</value>
            </property>
            <property type="int">
                <name>repeat-count</name>
                <value>1</value>
            </property>
            <property type="float">
                <name>repeat-delay</name>
                <value>0.1</value>
            </property>
            <macro-action type="vjoy">
                <property type="int">
                    <name>vjoy-id</name>
                    <value>1</value>
                </property>
                <property type="input_type">
                    <name>input-type</name>
                    <value>button</value>
                </property>
                <property type="int">
                    <name>input-id</name>
                    <value>16</value>
                </property>
                <property type="bool">
                    <name>value</name>
                    <value>True</value>
                </property>
            </macro-action>
            <macro-action type="pause">
                <property type="float">
                    <name>duration</name>
                    <value>0.0</value>
                </property>
            </macro-action>
            <macro-action type="vjoy">
                <property type="int">
                    <name>vjoy-id</name>
                    <value>1</value>
                </property>
                <property type="input_type">
                    <name>input-type</name>
                    <value>button</value>
                </property>
                <property type="int">
                    <name>input-id</name>
                    <value>16</value>
                </property>
                <property type="bool">
                    <name>value</name>
                    <value>False</value>
                </property>
            </macro-action>
            <property type="string">
                <name>action-label</name>
                <value>Macro</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>press</value>
            </property>
        </action>
        <action id="a1dfa431-2137-4682-a54c-37d756cd9450" type="root">
            <actions>
                <action-id>21c7acea-2870-4e01-8861-957648329c17</action-id>
                <action-id>8cb02756-e00a-4e77-9b81-e20a9af88e76</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="21c7acea-2870-4e01-8861-957648329c17" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>1</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>hat</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="9df8c300-ec0e-47cb-996e-5a929cb20d16" type="root">
            <actions>
                <action-id>280c4f69-7e17-497e-8379-bca9bd13b9b5</action-id>
                <action-id>a1d8264c-a996-4276-88b2-ef7c0d5f956e</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="280c4f69-7e17-497e-8379-bca9bd13b9b5" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>2</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>5</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="a7db4559-7952-4383-8c79-73b7aedb12fe" type="root">
            <actions>
                <action-id>4a4858b1-2f56-4628-a33b-4d41a3030854</action-id>
                <action-id>3c211a37-8966-473a-9f30-2173269b6566</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="4a4858b1-2f56-4628-a33b-4d41a3030854" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>5</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="faeced04-0ba9-4af7-8597-5d1a2dc61211" type="root">
            <actions/>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="8cb02756-e00a-4e77-9b81-e20a9af88e76" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>2</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>1</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>hat</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="3b886ced-53c0-4f4d-a392-f40ae11809b3" type="root">
            <actions>
                <action-id>a182b3f6-eaa7-44e7-b9e7-1fcde6d56138</action-id>
                <action-id>d8359cd7-0ec5-4723-89a2-da4c560abd81</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="a182b3f6-eaa7-44e7-b9e7-1fcde6d56138" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>2</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>hat</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="d8359cd7-0ec5-4723-89a2-da4c560abd81" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>2</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>2</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>hat</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="a1d8264c-a996-4276-88b2-ef7c0d5f956e" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>2</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>6</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="3c211a37-8966-473a-9f30-2173269b6566" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>6</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>button</value>
            </property>
            <property type="bool">
                <name>button-inverted</name>
                <value>False</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="46e22a0f-3ecc-46db-9ec1-613e16db3f27" type="root">
            <actions>
                <action-id>5f03d393-f143-4b22-a023-db9dc8df9e7b</action-id>
                <action-id>50f0ee72-0c99-4d44-a367-d53b77b0e6df</action-id>
            </actions>
            <property type="string">
                <name>action-label</name>
                <value>Root</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>disallowed</value>
            </property>
        </action>
        <action id="5f03d393-f143-4b22-a023-db9dc8df9e7b" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>4</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
        <action id="50f0ee72-0c99-4d44-a367-d53b77b0e6df" type="map-to-vjoy">
            <property type="int">
                <name>vjoy-device-id</name>
                <value>1</value>
            </property>
            <property type="int">
                <name>vjoy-input-id</name>
                <value>5</value>
            </property>
            <property type="input_type">
                <name>vjoy-input-type</name>
                <value>axis</value>
            </property>
            <property type="axis_mode">
                <name>axis-mode</name>
                <value>absolute</value>
            </property>
            <property type="float">
                <name>axis-scaling</name>
                <value>1.0</value>
            </property>
            <property type="string">
                <name>action-label</name>
                <value>Map to vJoy</value>
            </property>
            <property type="activation-mode">
                <name>activation-mode</name>
                <value>both</value>
            </property>
        </action>
    </library>
    <modes>
        <mode>Default</mode>
        <mode>EmptyMode</mode>
    </modes>
    <scripts/>
</profile>
