<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="{{ site.url }}">
                <img src="{{ site.url }}/images/icon.png">
            </a>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <!-- Home -->
                    <li class="nav-item{% if page.area == "home" %} active{% endif %}"><a class="nav-link" href="{{ site.url }}/">Home</a></li>

                    <!-- Download -->
                    <li class="nav-item{% if page.area == "download" %} {% endif %}"><a class="nav-link" href="{{ site.url }}/download/">Download</a></li>

                    <!-- User Plugins -->
                    <li class="nav-item{% if page.area == "user_plugins" %} {% endif %}"><a class="nav-link" href="{{ site.url }}/user_plugins_code/">User Plugins</a></li>

                    <!-- Manual entries -->
                    <li class="nav-item dropdown{% if page.area == "manual"%} active{% endif %}">
                        <a href="#" id="navbarDropdown" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manual<span class="caret"></span></a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item{% if page.chapter == "overview" %} active{% endif %}" href="{{ site.url }}/overview/">Overview</a>
                            <a class="dropdown-item{% if page.chapter == "quickstart" %} active{% endif %}" href="{{ site.url }}/quickstart/">Quickstart</a>
                            <a class="dropdown-item{% if page.chapter == "interface" %} active{% endif %}" href="{{ site.url }}/interface/">Interface</a>
                            <a class="dropdown-item{% if page.chapter == "user_plugins" %} active{% endif %}" href="{{ site.url }}/user_plugins/">User Plugins</a>
                            <a class="dropdown-item{% if page.chapter == "technical_design" %} active{% endif %}" href="{{ site.url }}/technical_design/">Technical Design</a>
                            <a class="dropdown-item{% if page.chapter == "examples" %} active{% endif %}" href="{{ site.url }}/examples/">Examples</a>
                            <a class="dropdown-item{% if page.chapter == "faq" %} active{% endif %}" href="{{ site.url }}/faq/">FAQ</a>
                            <a class="dropdown-item{% if page.chapter == "changelog" %} active{% endif %}" href="{{ site.url }}/changelog/">Changelog</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="https://github.com/WhiteMagic/JoystickGremlin">Github</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row mt-4">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {{ content }}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>


        {% include footer.html %}

    </body>

</html>
